@import "tailwindcss";

:root {
  --background: #ffffff;
  --surface: #f8fafc;
  --card: #ffffff;

  --text-primary: #111827;
  --text-secondary: #6b7280;

  --border: #e5e7eb;

  --accent: #111827;
}

.dark {
  --background: #0f172a;
  --surface: #111827;
  --card: #1e293b;

  --text-primary: #f9fafb;
  --text-secondary: #94a3b8;

  --border: #334155;

  --accent: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  font-family:
    Inter,
    system-ui,
    sans-serif;
}